<!DOCTYPE html>
<html>
{% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
     <link rel="stylesheet" type="text/css" href="{% static 'css/story9.css' %}"> 
     <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Roboto:100,300,400,500,700,900|Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <title>Welcome!</title>

  </head>

  <body>
    <nav class="navbar navbar-expand-sm navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'landing_page' %}">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story8' %}">Library</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story7' %}">About</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="jumbotron" style="margin-top: 10vw; margin-left: 2vw; margin-right: 2vw;background-color:#48D1CC;border-radius: 50%;">
        <h1 class="d-flex justify-content-center">Selamat Datang, {{user.first_name}} {{user.last_name}}!</h1>
        <p style="text-align: center;"><strong>Bagaimana harimu? Semoga baik-baik saja ya, {{user.first_name}}.</strong></p>
    </div>

  </body>

</html>