<!DOCTYPE html>
<html>
	{% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
     <link rel="stylesheet" type="text/css" href="{% static 'css/story9.css' %}"> 
     <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Roboto:100,300,400,500,700,900|Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


  <title>Login</title>
  </head>

<body>
    <div class="jumbotron jumbotron-fluid d-flex" style="background-color:#48D1CC;width:30%;margin-left:36%; margin-top:14%;border-radius: 30%;">
        <div class="container" style="text-align: center;">
            <form method="POST">
                {% csrf_token %}
                <h1 class="display-8">Log In</h1>

                <p class="lead">Username:</p>
                <input type="text" name="username" class="form-control input_user" value="" placeholder="username">
                <p class="lead">Password:</p>
                <input type="password" name="password" class="form-control input_pass" value="" placeholder="password">

                <div class="text-center mt-4">
                    <button id="submit" class="btn btn-outline-dark btn-lg">LOG IN</button>
                </div>
            </form>
            {% if error %}
            <div class="alert alert-warning alert-dismissible">
                <strong>Warning!</strong> {{ error }}
            </div>
            {% endif %}
        </div>
    </div>
