<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>My Story</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/story7.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

    <body class = "light">
        <div class="centered-box">
            <h1 id="greetings"> Hello, Stefan Sagala here!</h1>
            <div class="centered-image-container">
                    <img class="centered-image" src="{% static 'images/fotoku.jpg' %}">
                </div>
        

            <div id="accordion">
                <h3>ACTIVITIES</h3>
                <div>
                    <p>
                    My recent activities are studying and complaining about life.
                    </p>
                </div>

                <h3>EXPERIENCES</h3>
                <div>
                    <p>
                    You can view my Linked.in page to know what experiences in organizations
                    that I have had.
                    </p>
                </div>

                <h3>ACHIEVEMENTS</h3>
                <div>
                    <p>
                    Being a survivor of Fakultas Ilmu Komputer Universitas Indonesia. :'').
                    </p>
                </div>
            </div>
            
            <br>
            <div class="container">
                <label id="cb" class="switch"><input type="checkbox"><div></div></label>
            </div>

            <script src="{% static 'js/accordion.js' %}" type="text/javascript"></script>
            <script src="{% static 'js/switchmode.js' %}" type="text/javascript"></script>
        </div>

    </body>
</html>
