<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/story8.css' %}"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <title>My Library</title>
    </head>

<body>

    <nav class="navbar navbar-expand-sm navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'landing_page' %}">Status</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'story8' %}">Library</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story7' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="col-12 justify-content-center">
        <h1 class="d-flex justify-content-center" id="judul">What books are you looking for?</h1>
    </div>

    <div class="search-container">
        <input type="text" placeholder="Search books..." name="search" id="searchbook">
        <button type="submit"><i class="fa fa-search" id="button"></i></button>
    </div>

    <div class="table-responsive my-8 px-4 py-2">
        <table class="table table-active table-striped table_custom" id="table">

        </table>
    </div>
    <script src="{% static 'js/library.js' %}" type="text/javascript"></script>


</body>
</html>