.bodystatus {
    background-color: #3cb371 !important;
    animation: fade-in 2s;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

.stylestatus {
    color: white;
}

.navigation {
    background-color: #48D1CC;
}

.nav-item {
    font-size: 20px;
}
