body {
    background-color: #3cb371 !important;
    animation: fade-in 2s;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

#judul {
    color: #E0FFFF;
}

input[type=text] {
    padding: 0.5%;
    margin-top: 2%;
    font-size: 16px;
    width: 93%;
    border: 1px solid #ccc;  
}

.search-container button {
    float: left;
    padding: 0.5%;
    margin-top: 2%;
    margin-left: 3%;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
.search-container button:hover {
    background: #ccc;
}

.navigation {
    background-color: #48D1CC;
}

.nav-item {
    font-size: 20px;
}
