body {
    background-image: url('/static/images/ikan.jpeg');
    animation: fade-in 2s;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

.navigation {
    background-color: #48D1CC;
}

.nav-item {
    font-size: 20px;
}




