@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: chocolate;
    animation: fade-in 2s;
    padding-top:2%;
}

.light {
    background-image: url('/static/images/cahaya.jpeg');
}

.dark {
    background-image: url('/static/images/gelap.jpeg');
}

.container{
    text-align: center;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 20px;
    height: 1.5em;
    width: 3em;
    background: white;
    border-radius: 1em;
}

.switch div {
    height: 1.5em;
    width: 1.5em;
    border-radius: 2em;
    background: #BDB76B;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.switch input:checked + div {
    background: #99FFFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

#accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:10px;
    width: 50%;
    margin-left:23%;
    color: #BDB76B;
    border: 1px solid #BDB76B;
}

.centered-image-container {
    text-align: center;
}
.centered-image {
    width: 200px;
    border-radius: 50%;
    max-width: 100%;
}

.centered-box {
    width:auto;
    max-width:auto;
    background-color:#CD853F;
}

#greetings {
    text-align: center; 
    color:burlywood; 
    font-family: 'McLaren', cursive;
}

h3 {
    border-radius: 10px;
    padding: 8px;
    font-family: 'Muli';
    font-size: 25px;
    text-align:center;
}

p {
    text-align:center;
    font-size: 16px;
    font-family: 'Muli';
    border-color:#F4A460;
    border-style:solid;
}
